<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PsychoTestControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PsychoTestControlPanel.Properties.Settings>
            <setting name="PsychoTestPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlyTxtEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XmlFoolProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XmlAutoDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyXmlEncoding" serializeAs="String">
                <value>False</value>
            </setting>
        </PsychoTestControlPanel.Properties.Settings>
    </userSettings>
</configuration>